               <form action='/user_rec' method='POST' id='submitform'>
                <input type='text', placeholder='user id'  name='user_input'>
                <button type="submit" class="btn btn-success">Recommend</button>
                <br><br>
                <h2>Other Options</h2>
                <h5>Best Number of Players</h5>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="1">1</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="2">2</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="3">3</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="4">4</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="5">5+</label>
                </div>
                <h5>Minimum Play Time (minutes)</h5>
                <input type="text", placeholder='0'  name='min_time'>
                <br><br>
                <h5>Maximum Play Time (minutes)</h5>
                <input type="text", placeholder='500000'  name='max_time'>
              </form>